.navbar-default{
  .navbar-header{
  	@media screen and (max-width: 640px){
  		.navbar-toggle{
  			background-color: $gray;
  			.icon-bar{
  				background-color: #fff;
  			}
  		}
  	}
      .navbar-brand{
    		text-transform: uppercase;
    		color: #000;
      	// font-weight: bold;
      	line-height: 3.5rem;
      	height: auto;
      	font-family: 'gothambold', sans-serif;
      .app-logo{
      	display: block;
      	background-color: $orange;
      	height: 3rem;
      	width: 3rem;
      	border-radius: 50px;
      	float: left;
      	margin-right: 8px;
      }
    }
  }
}