<template name="hoodItem">
  <div class="hood" {{attributes}}>
    <div class="hood-content">
      <div class="result-head">
        <img class="mapSmall" src="{{mapSmallImg}}" />
        <img class="mapLarge" src="{{mapLargeImg}}" />
        <div class="hood-mainInfo">
          <div class="actions">
            <a href="#" class="addFavorite"><i class="fa fa-heart"></i>Add to favorites</a>
            <a href="#" class="notifyMe"><i class="fa fa-bell"></i>Notify me</a>
          </div>
          <h3>{{title}}</h3>
          <span class="hoodLocation"><i class="fa fa-map-marker"></i>9.929715, -84.038039</span>
          <span class="hoodRating"><img src="{{smile}}" /></span>
        </div>
      </div>
    </div>
  </div>
</template>