<template name="home">
  <section id="search">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Find the best place to live</h1>
          <p>Neigborhoods reviewed by people like you.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <form>
            <span class="searchByGPS" title="Use my current location"><i class="fa fa-location-arrow"></i></span>
            <input type="text" placeholder="Search for neighborhoods">
            <button type="button"><i class="fa fa-search"></i></button>
            <ul class="autocomplete">
              <li><a href="#">Tres R&iacute;os, Cartago</a></li>
              <li><a href="#">Curridabat, San Jos&eacute;</a></li>
              <li><a href="#">Escaz&uacute;, San Jos&eacute;</a></li>
              <li><a href="#">Montes de Oca, San Jos&eacute;</a></li>
            </ul>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          
        </div>
      </div>
    </div>
  </section>
</template>