<template name="home">
  <section id="search">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Find the better place to live</h1>
          <p>whatever</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <form>
            <input type="text">
            <button type="button">Search</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          Slider
        </div>
      </div>
    </div>
  </section>
</template>